/* ! null section */
@import 'null.css';
/* ? fonts at boart */
@font-face {
	font-family: 'Kalam';
	src: url('../fonts/Kalam-Regular.woff2') format('woff2'), url('../fonts/Kalam-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Kalam';
	src: url('../fonts/Kalam-Bold.woff2') format('woff2'), url('../fonts/Kalam-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
/* ! body section */
/* todo make main settings */
body {
	font-family: 'Kalam', cursive;
	color: rgb(66, 69, 81);
	line-height: 1.6;
	background-color: #F4F5F6;
}
.header-title-img,
.main-point-1-img,
.main-point-2-img,
.main-point-3-img,
.main-point-4-img,
.main-point-5-img,
.main-point-6-img,
.footer-box-1-img {
	text-align: center;
}
.header-title-img img,
.main-point-1-img img,
.main-point-2-img img,
.main-point-3-img img,
.main-point-4-img img,
.main-point-5-img img,
.main-point-6-img img,
.footer-box-1-img img {
	max-width: 100%;
}
h1,
h2 {
	color: hsl(227, 19%, 15%);
	font-weight: 700;
	line-height: 1.3;
}
h1 {
	font-size: 46px;
}
h2 {
	font-size: 36px;
}
.main-point-1 h2,
.main-point-3 h2 {
padding-top: 15px;
}
/* todo container */
[class*='-container'] {
	max-width: 1230px;
	margin: 0 auto;
}
/* ! header section */
header {
	margin-bottom: 20px;
}
/* ? header-title section */
/* todo title */
.header-title {
	padding-top: 15px;
}
.header-title:not(:last-child) {
	margin-bottom: 20px;
}
h1:not(:last-child) {
	margin-bottom: 10px;
}
/* todo title img */
.header-title-img:not(:last-child) {
	margin-bottom: 20px;
}
.header-title-img {
	padding-bottom: 20px;
}
/* todo nav */
.header-navigation:not(:last-child) {
	margin-bottom: 20px;
}
.header-navigation-list::before {
	content: 'list:';
	font-size: 20px;
	color: rgb(120, 122, 128);
	text-transform: uppercase;
	display: inline-block;
	padding-left: 15px;
	font-weight: 700;
	line-height: 1.5;
}
.header-navigation-list:not(:last-child) {
	margin-bottom: 15px;
}
.header-navigation-list ol li ol li {
padding-left: 20px;
}
.header-navigation-list ol li:not(:last-child) {
	margin-bottom: 10px;
}
.header-navigation-list ol {
	counter-reset: item;
}
.header-navigation-list ol li::before {
	counter-increment: item;
	content: counter(item) ')';
	display: inline-block;
	color: rgb(120, 122, 128);
}
.header-navigation-list ol li:hover::before {
	color: black;
}
.header-navigation-list ol:not(:last-child) {
	margin-bottom: 10px;
}
/* ! main section */
main {
	margin-bottom: 20px;
}
/* ? point 0 section */
.main-point-0:not(:last-child) {
	margin-bottom: 15px;
}
.main-point-0 .main-point-0-title:not(:last-child),
.main-point-0 .main-point-0-task:not(:last-child),
.main-point-0 .main-point-0-navigation:not(:last-child),
.main-point-0-navigation ol:not(:last-child) {
	margin-bottom: 10px;
}
.main-point-0-navigation ol li:not(:last-child) {
	margin-bottom: 5px;
}
/* todo point 0 title span */
.main-point-0-task span {
	text-transform: uppercase;
	font-weight: 700;
	color: rgba(120, 122, 128, 0.7);
}
/* todo point 0 navigation ol  */
.main-point-0-navigation ol {
	counter-reset: item;
}
.main-point-0-navigation ol li::before {
	counter-increment: item;
	content: counter(item) ')';
	display: inline-block;
	color: rgb(120, 122, 128);
}
.main-point-0-navigation ol::before {
	content: 'screenshots and highlight:';
	font-size: 20px;
	display: inline-block;
	text-transform: capitalize;
	color: rgb(120, 122, 128);
	padding-left: 15px;
	font-weight: 700;
	line-height: 1.5;
}
.main-point-0-navigation ol li ol li {
	padding-left: 15px;
}
.main-point-0-navigation ol li:hover::before {
	color: rgba(0, 0, 0);
}
/* ? point 1-6 sections */
.main-point-1:not(:last-child), 
.main-point-2:not(:last-child), 
.main-point-3:not(:last-child), 
.main-point-4:not(:last-child),
.main-point-5:not(:last-child), 
.main-point-6:not(:last-child) {
	margin-bottom: 17px;
}
.main-point-1,
.main-point-3,
.header-title {
	background: linear-gradient(55.95deg, hsla(2, 100%, 61%, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main-point-1-title:not(:last-child), 
.main-point-2-title:not(:last-child), 
.main-point-3-title:not(:last-child), 
.main-point-4-title:not(:last-child), 
.main-point-5-title:not(:last-child),
.main-point-6-title:not(:last-child) {
	margin-bottom: 10px;
}
.main-point-1-img:not(:last-child),
.main-point-2-img:not(:last-child),
.main-point-3-img:not(:last-child),
.main-point-4-img:not(:last-child),
.main-point-5-img:not(:last-child),
.main-point-6-img:not(:last-child) {
	margin-bottom: 15px;
}
/* ! footer section */
footer {
	background-color: #1E212C;
}
.footer-box-1 {
	padding-top: 30px;
}
.footer-box-2 {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(255, 255, 255, 0.05);
}
.footer-box-1:not(:last-child),
.footer-box-2:not(:last-child) {
	margin-bottom: 19px;
}
.footer-box-1-img:not(:last-child) {
	margin-bottom: 13px;
}
.footer-box-2-block:not(:last-child) {
	margin-bottom: 20px;
}
.footer-box-2-text,
.footer-box-2-button {
	display: inline-block;
	color: white;
	font-weight: 700;
	font-size: 20px;
}
.footer-box-2-text {
	text-transform: capitalize;
}
.footer-box-2-button {
	margin-left: 64%;
	text-transform: uppercase;
}
.footer-box-2-text span::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	background: url('../img/icons/check.svg') no-repeat 0 0 / 16px;
}
.footer-box-2-text::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('../img/icons/Star.svg') no-repeat 0 0 / 16px ;
}
.footer-box-2-button::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 10px;
	background: url('../img/icons/Star.svg') no-repeat 0 0 / 16px ;
}
.footer-box-2-button:hover::after {
	background: url('../img/icons/like.svg') no-repeat 0 0 / 16px;
}