/* ! null section */
@import "null.css";
/* ? font at boart */
/* todo connect the font Marck Script */
@font-face {
	font-family: 'Marck Script';
	src: url('../fonts/MarckScript-Regular.woff2') format('woff2'), url('../fonts/MarckScript-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* todo connect the font Marck Lobster */
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.woff2') format('woff2'), url('../fonts/Lobster-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* todo connect the font SKNowatorus */
@font-face {
	font-family: 'SKNowatorus';
	src: url('../fonts/SKNowatorus.woff2') format('woff2'), url('../fonts/SKNowatorus.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
/* ? body section */
body {
	font-family: 'Marck Script', fantasy;
	color: rgba(0, 0, 0, 0.65);
	font-size: 20px;
}
.mb-20 {
	margin-bottom: 20px;
}
.mb-10 {
	margin-bottom: 10px;
}
header img,
main img {
	padding-left: 10px;
}
ul li {
	font-family:'Lobster', fantasy;
	padding-left: 15px;
}
p {
	padding-left: 5px;
}
h1,
h2 {
	padding-left: 25px;
	font-style: oblique;
	text-shadow: 1px 1px 1px grey, -1px -1px 1px rgba(0, 0, 0, 0.85);
}
h1 {
	font-size: 48px;
	line-height: 1.2;
}
h2 {
	font-size: 38px;
	line-height: 1.1;
}
/* ? header section */
header {
	padding-top: 30px;
	margin-bottom: 30px;
}
/* ? main section */
main {
	margin-bottom: 50px;
}
/* * point 1 section */
/* todo text-align */
.align.center {
	text-align: center;
}
.align.right {
	text-align: right;
}
.align.justify {
	text-align: justify;
}
/* * point 2 section */
/* todo text-decoration */
.decoration-through {
	text-decoration: line-through;
}
.decoration-overline {
	text-decoration: overline;
}
.decoration-underline {
	text-decoration: underline;
}
/* * point 3 section */
/* todo text-shadow */
.shadow {
	text-shadow: 3px 3px 3px red;
}
.multi-shadow {
	text-shadow: 3px 3px 3px red, -3px -3px 3px blue;
}
/* * point 4 section */
/* todo text-transform */
#point_4 + p {
	text-transform: capitalize;
}
p.text-1 {
text-transform: lowercase;
}
p.text-2 {
	text-transform: uppercase;
}
/* * point 5 section */
/* todo css text properties */
.block-5 p {
	text-indent: 50px;
	letter-spacing: 7px;
	white-space: nowrap;
	word-spacing: 10px;
}
#point_5 ~ p {
	font-family: 'SKNowatorus', fantasy;
}
/* ? footer section */
footer{
	padding-bottom: 15px;
}
footer a {
	padding-left: 10px;
}
footer > div {
	padding-left: 5px;
}
/* Специально указал шрифт которого нет */
.no-fonts {
	font-family: 'no font', monospace;
}
.box-1,
.box-2,
.box-3,
.box-4 {
	background-color: grey;
	height: 10px;
}
.box-1,
.box-4 {
	width: 245px;
}
.box-2,
.box-3 {
	width: 10px;
	height: 225px;
}
.box-1 {
	margin-top: -235px;
}
.box-2 {
	margin-bottom: 10px
}
.box-3 {
	margin-left: 235px;
	margin-top: -235px;
}
.box-4 {
	margin-bottom: 20px;
}